<div class="aman_cent">
    <div class="amaz_auto">
        <div class="amaz_subff">
            Your Position : <a href="/">Home</a>
          
            @foreach (var item in ViewData.Model.ParentCates)
            {
                <text>
                &gt;  <span class="amaz_lac"><a href="/category/@{@item.id}/@item.category_name.Replace('&', ' ').Replace('.', ' ').Replace('/',' ').Replace('+',' ')" alt="@item.category_name" title="Power">@item.category_name</a></span>
                </text>
            }

        </div>

        <div class="view-content">

            <div class="box_bottom_shdow nav_posion">

                @foreach (var item in ViewData.Model.SubCates)
                {
                    <div class="product_nav">
                        <ul>
                            <li><a href="/category/@{@item.id}/@item.category_name.Replace('&', ' ').Replace('.', ' ').Replace('/',' ').Replace('+',' ')" alt="@item.category_name" title="@item.category_name">@item.category_name</a></li>
                        </ul>
                    </div>
                }

            </div><div class="clear"></div>
            @foreach (var item in ViewData.Model.ProdList)
            {
                <div class="tour-preview">
                    <div class="tour-photo">
                        <a href="/product/@{@item.id}/@item.seo_link_text.Replace('&', ' ').Replace('.', ' ').Replace('/',' ').Replace('+',' ')" title="@item.product_name"><img typeof="foaf:Image" src="@item.image.small_path" onload="lzld(this)" width="350" height="350" alt="@item.product_name"></a>
                    </div>                   
                    <div class="tour-title-2">
                        <a style="opacity:1;" href="/product/@{@item.id}/@item.seo_link_text.Replace('&', ' ').Replace('.', ' ').Replace('/', ' ').Replace('+',' ')" title="@item.product_name">@item.product_name</a>
                    </div>
                   
                </div>
            }
           




        </div>
    </div>
</div>